#unauth {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 4em;
}
.eighthTitle {
    font-size: 20pt;
    font-weight: bold;
    text-align: center;
    background-color: red;
    color: black;
    width: 100%;
    height: 3em;
    line-height: 3em;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 5;
}
#teacherNav {
    list-style-type: none;
    color: black;
}
.eighthFileList, .gradeName {
    margin-top: 6em;
    margin-left: 10px;
    z-index: 4;
}
.eighthImage {
    position: fixed;
    right: 10px;
    top: 6em;
    z-index: 1;
}
.eighthAttribution {
    font-style: italic;
    color: black;
    position: fixed;
    right: 15px;
    bottom: 10px;
    z-index: 5;
    background: #EEE;
    opacity: 0.8;
}
#flagCollage {
    display: block;
    width: 100%;
}
.eighthNoFiles {
    font-style: italic;
}
/* Ideas from https://bootstrapbay.com/blog/bootstrap-button-styles/ */
.btn.outline {
    background: white;
    padding: 12px 22px;
}
.btn-primary.outline.eighthLink {
    border: 2px solid red;
    color: red;
}
.btn-primary.outline.eighthNoFiles {
    border: 2px solid red;
    color: #999;
}
.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: darkred;
    border-color: darkred;
}
.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: darkred;
    color: darkred;
    box-shadow: none;
}
.gradeName {
    font-size: 16pt;
}
.teacherNavItem {
    width:175px;
    background-color:white;
    border-radius: 25px;
    border:2px solid red;
    text-align: center;
}
.teacherNavItem:visited {
    border: 2px solid #5E2D79;
}
.teacherNavItem:hover {
    font-weight:bold;
}
#controls, #teacherNav {
    font-size: 8pt;
    background: white;
    z-index: 10;
    padding: 8px 12px;
    border: 1px solid #CCC;
    border-radius: 4px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
    color: #333;
}
#controls {
    top: 0.5em;
    left: 0.5em;
    position: fixed;
}
#teacherNav {
    top: 0px;
    right: 0px;
    position: fixed;
    float: right;
}
#fifthEnter {
    height: 3em;
    line-height: 3em;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6em;
    font-size: 24pt;
    background: darkblue;
    border: 1px solid #CCC;
    border-radius: 4px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
    color: white;
    text-align: center;
}
